# Bypass Profile Path para Chromium (Prevención Anti-Bot de Google)
# Apunta al directorio absolute o relativo que almacena la sesión de Google válida.
TEST_CHROME_PROFILE=.auth/chrome-profile

# Deployment ID del entorno DEV (Termina en /exec)
DEV_URL=https://script.google.com/macros/s/AKfycbz1wK6yVfTuUe3kv35k45IULLBVya51t6HDXUZHNP-6rI9Nh_PEctWZseGyoQiQ2HxkIw/exec

# (Opcional) Forzar el canal del binario en Linux / MacOS
# PLAYWRIGHT_CHANNEL=chromium
